<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />

</head>

<body>
    <header>
        <h1>GEO-Guesser!</h1>
        <img src="{{ url_for('static', filename='globe.png') }}">
    </header>
    <main>
        <div class="pregunta">
            {% if resultadoHtml == True %}
            <p class="pregunta resultadoOK">El resultado es correcto. Enhorabuena!</p>
            {% else %}
            <p class="  pregunta resultadoKO">El resultado es incorrecto. La capital es {{capitalHtml}}.</p>
            {% endif %}
        </div>
        <a href="{{ url_for('root') }}">Jugar otra vez</a>
    </main>
    <footer>
        <p><b>AGE 2022 &copy;</b></p>
    </footer>

</body>

</html>